POSTGRES_USER=queue
POSTGRES_PASSWORD=change_me
POSTGRES_DB=queue
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

BACKEND_PORT=8000
FRONTEND_PORT=5173

VITE_BACKEND_URL=http://backend:8000
VITE_BACKEND_WS_URL=ws://backend:8000

CADDY_DOMAIN=your-domain.ru
BACKEND_UPSTREAM=backend:8000
