{$CADDY_DOMAIN} {
    handle /api/* {
        reverse_proxy {$BACKEND_UPSTREAM}
    }

    handle /ws/* {
        reverse_proxy {$BACKEND_UPSTREAM}
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
